.icon {
  width: 22px;
  height: 22px;
}

.brand-logo {
  @mixin dark {
    color: var(--mantine-color-violet-4);
  }
  @mixin light {
    color: var(--mantine-color-violet-8);
  }
}
.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
